{% extends 'base.html' %}

{% block title %}Artigos do século 4 d.C.{% endblock %}

{% block content %}
<h2>Artigos do século 4 d.C.</h2>
<div class="articles-grid">
    {% if artigos %}
        {% for artigo in artigos %}
            <div class="article">
                {% if artigo['imagem_base64'] %}
                    <div class="article-image">
                        <img src="{{ artigo['imagem_base64'] }}" alt="Imagem do artigo">
                    </div>
                {% endif %}
                <div class="article-content">
                    <h3>
                        <a href="{{ url_for('mostrar_artigo', artigo_id=artigo['id']) }}" target="_blank">
                            {{ artigo['titulo'] }}
                        </a>
                    </h3>
                    <p>Autor: {{ artigo['nome_do_autor'] }}</p>
                    <p>Publicado em: {{ artigo['data_criacao'].strftime('%d/%m/%Y') }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Nenhum artigo encontrado para este século.</p>
    {% endif %}
</div>
{% endblock %}
